<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .gallery img {
    max-width: 400px;
    max-height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin: 0 30px 30px 10px;}
        body {
    background: linear-gradient(to bottom,  #ffcc99, #99ccff, #cc99ff,#ffcccc);
}
    </style>
</head>
<body>
<h1 style="text-align:center; color:blue; font-family:ariel"><b><u><i>Beautiful Memmories</u></i> </b></h1>
<br><br>

    <div class="gallery">
        {% for photo in photos %}
            <img src="{{ photo.image.url }}" alt="{{ photo.image.name }}">
        {% endfor %}
    </div>
</body>
{% endblock %}
</html>